body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.buttons{
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background-color: #ccc;
  margin: 20px auto;
}
.button{
  width: 100px;
  height: 100px;
}
.button button{
  width: 100%;
  height: 100%;
  font-size: 32px;
}
button{
  cursor: pointer;
}
.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}